<!-- <footer class="footer bg-primary py-3"> -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <!-- <span class="text-muted">Yelpcamp 2020</span> -->
        <span class="text-primary"> &copy; Yelpcamp 2023</span>
    </div>
</footer>